.auth_tela_pedidos {
  display: flex;
  width: 700px;
  height: 300px;
  position: fixed;
  z-index: 3000;
  left: 50%;
  top: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.auth_tela_pedidos.whenNotifBarOpened {
  transform: translate(-58%, -50%);
}

.auth_tela_pedidos.whenNotifBar_NOT_Opened {
  transform: translate(-50%, -50%);
}

.input_auth_tela_pedidos {
  width: 200px;
  text-align: center;
  margin: 15px 0 15px 0;
  padding: 5px;
  border: 3px solid #afafaf;
  outline: none;
  font-family: 'MinhaFonte2';
  border-radius: 5px;
  font-size: 15px;
}

input[type="password"] {
  direction: ltr;
}

#btn_confirm_auth_pass {
  background-color: #FF7043;
  color: white;
  border: none;
}

#btn_confirm_auth_pass:hover {
  filter: brightness(1.07);
  transform: scale(1.03);
}

.auth_overlay {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 2000;
  inset: 0;
  width: 100vw;
  height: 100vh;
}