.page-relatorios {
  margin: 0 auto;
  /* padding: 0 20px 20px 20px; */
  background: #ffffff;
  color: #000000;
  font-family: 'MinhaFonte', sans-serif;
  display: flex;
  text-align: center;
}

.relatorios_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
  background-color: #f1f1f1;
  min-height: 100vh;
}

/* .relatorios{
  width: 100vw;
} */

.header-relatorios-input,
.header-relatorios h1 {
  text-align: center;
  margin-bottom: 20px;
}

.header-relatorios-input h1 {
  font-size: 45px;
  user-select: none;
  color: #000000;
  padding-top: 170px;
}

.header-relatorios h1 {
  font-size: 45px;
  user-select: none;
  color: #424242;
  padding-top: 30px;
  margin-bottom: 20px;
}

.page-relatorios h2 {
  user-select: none;
}

.centralizar_gerencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title_locked_dashboard {
  font-size: 40px;
  color: #6f6f6f;
}

.senha-gerencia {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.senha-gerencia p {
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
}

.input_senha_gerencia {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input_senha_gerencia input {
  padding: 10px;
  font-size: 16px;
  border: #afafaf solid 3px;
  border-bottom: #afafaf solid 9px;
  border-radius: 4px;
  font-family: 'MinhaFonte3';
  text-align: center;
}

.input_senha_gerencia input:focus {
  outline: none;
}

.input_senha_gerencia button {
  padding: 15px 20px;
  font-size: 16px;
  background: #ff9270;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input_senha_gerencia button:hover {
  filter: brightness(1.1);
}

.relatorios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.coluna-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
  max-width: 600px;
}

.coluna-direita {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.filtros-data {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  align-items: flex-end;
  padding: 30px 30px 80px 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px #0000001a
}

.filtros-data label {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 10px;
}

.inputs-relatorios {
  padding: 8px;
  font-size: 14px;
  border: 2px solid #afafaf;
  border-bottom: 7px solid #afafaf;
  border-radius: 4px;
  font-family: 'MinhaFonte3';
}

.filtros-data button {
  padding: 8px 26px;
  font-size: 14px;
  background: linear-gradient(90deg, #feb34e 1%, #fd4948);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.filtros-data button:hover {
  filter: brightness(1.1);
}

.custom-info-toast .Toastify__toast-icon svg {
  fill: #ff7043;
}

.custom-info-progress {
  background: #ff7043;
}

.filtros-rapidos p {
  margin-bottom: 10px;
  font-size: 16px;
}

.filtros-rapidos button {
  padding: 8px 16px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  background: white;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filtros-rapidos button.filtro-ativo,
.filtros-rapidos button:hover {
  background: linear-gradient(90deg, #feb34e 1%, #fd4948);
  color: #ffffff;
}

.resumos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  width: 800px;
}

.card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 0 15px 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  background-color: #e7e7e7;
}

.card strong {
  color: #4caf50;
}

h2 {
  font-size: 20px;
  /* margin: 20px 0 10px; */
  color: #FF7043;
}

.tabela-container {
  max-height: 400px;
  /* Altura fixa para ativar a rolagem */
  overflow-y: auto;
  border: 3px solid #afafaf;
  border-bottom: 10px solid #afafaf;
  border-radius: 8px;
  margin: 20px 0;
}

.tabela-pedidos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-pedidos th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #121212;
}

.tabela-pedidos td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-pedidos th {
  background: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tabela-pedidos tbody tr:hover {
  background: #dddddd;
}

#table_pagamento {
  text-transform: capitalize;
}

.piechart {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#buscar_btn {
  height: 42.5px;
}

#buscar_btn:hover {
  filter: brightness(1.1);
}

.txt_relatorios_not_found {
  color: gray;
}

#lock_icon_dashboard {
  margin-top: 120px;
  color: #bcbcbc;
}

/* RESPONSIVIDADE */
@media (max-width: 1366px) {
  .page-relatorios.locked {
    margin-left: 350px;
  }

  .relatorios-container {
    margin-left: 140px;
  }

  .header-relatorios {
    margin-left: 140px;
  }

  .card {
    width: 350px;
    gap: 10px;
  }

  .card span {
    font-size: 15px;
  }

  .card strong span {
    font-size: 16px !important;
  }

  .resumos { 
    width: 700px;
    column-gap: 20px;

  }

  #most_selled_title_relatoriosPage {
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .page-relatorios.locked {
    margin-left: 310px;
  }

  .relatorios-container {
    margin-left: 140px;
  }

  .header-relatorios {
    margin-left: 140px;
  }

  .card {
    width: 350px;
    gap: 10px;
  }

  .card span {
    font-size: 15px;
  }

  .card strong span {
    font-size: 14px !important;
  }

  .resumos {
    width: 700px;
  }

  #most_selled_title_relatoriosPage {
    gap: 10px;
  }
}