.page-relatorios {
  display: flex;
  min-height: 100vh;
  margin-top: 40px;
}

.btn-fechar {
  position: fixed; /* flutua mesmo com rolagem */
  margin-top: 40px;
  right: 200px; /* 👈 fica à direita agora */
  font-size: 28px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 999;
}

.btn-fechar:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
}

/* 💡 Card do pedido */
.relatorios {
  flex-grow: 1;
  padding-left: 120px;
}

.filtros-data, .filtros-rapidos {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.filtros-rapidos button,
.filtros-data button {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #eee;
  border: none;
  transition: 0.2s;
}

.filtros-rapidos button:hover,
.filtros-data button:hover {
  background-color: #ddd;
}


.tabela-pedidos tbody td{
  padding-right: 40px;
}

.tabela-pedidos thead th{
  text-align: start;
}

#table_pagamento{
  padding-right: 70px;
}