.page-relatorios {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  font-family: 'MinhaFonte', sans-serif;
  display: flex;
  text-align: center;
}

.relatorios_panel{
  text-align: center;
}

.relatorios{
  width: 100vw;
}

.header-relatorios-input, .header-relatorios h1 {
  text-align: center;
  margin-bottom: 20px;
}

.header-relatorios-input h1 {
  font-size: 45px;
  user-select: none;
  color: #000000;
  padding-top: 170px;
}

.header-relatorios h1 {
  font-size: 45px;
  user-select: none;
  color: #000000;
  padding-top: 30px;
}

.page-relatorios h2 {
  user-select: none;
}

.centralizar_gerencia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.senha-gerencia {
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.senha-gerencia p {
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
}

.input_senha_gerencia {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input_senha_gerencia input {
  padding: 10px;
  font-size: 16px;
  border: #afafaf solid 3px;
  border-bottom: #afafaf solid 9px;
  border-radius: 4px;
}

.input_senha_gerencia input:focus{
  outline: none;
}

.input_senha_gerencia button {
  padding: 13px 20px;
  font-size: 16px;
  background: #FF7043;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input_senha_gerencia button:hover {
  transform: scale(1.03);
}

.relatorios-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.coluna-esquerda {
  flex: 1;
  max-width: 600px;
}

.coluna-direita {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.filtros-data {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: flex-end; /* ⬅️ alinha os filhos pela base */
}

.filtros-data label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.inputs-relatorios {
  padding: 8px;
  font-size: 14px;
  border: 2px solid #afafaf;
  border-bottom: 7px solid #afafaf;
  border-radius: 4px;
  font-family: 'MinhaFonte3';
}

.filtros-data button {
  padding: 8px 16px;
  font-size: 14px;
  background: #FF7043;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.filtros-data button:hover {
  transform: scale(1.05);
}


.filtros-rapidos {
  margin-bottom: 20px;
  text-align: start;
}

.filtros-rapidos p {
  margin-bottom: 10px;
  font-size: 16px;
}

.filtros-rapidos button {
  padding: 8px 16px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  background: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filtros-rapidos button.filtro-ativo,
.filtros-rapidos button:hover {
  background: #FF7043;
  color: #ffffff;
}

.resumos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.card strong {
  color: #4caf50;
}

h2 {
  font-size: 20px;
  margin: 20px 0 10px;
  color: #FF7043;
}

.tabela-container {
  max-height: 400px; /* Altura fixa para ativar a rolagem */
  overflow-y: auto;
  border: 3px solid #afafaf;
  border-bottom: 10px solid #afafaf;
  border-radius: 8px;
}

.tabela-pedidos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-pedidos th{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #121212;
}

.tabela-pedidos td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-pedidos th {
  background: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tabela-pedidos tbody tr:hover {
  background: #dddddd;
}

#table_pagamento {
  text-transform: capitalize;
}

/* @media (max-width: 768px) {
  .relatorios-container {
    flex-direction: column;
  }

  .coluna-esquerda,
  .coluna-direita {
    max-width: 100%;
  }

  .tabela-container {
    max-height: 300px; /* Altura reduzida em telas menores 
  }
} */

.piechart{
  margin-top: -30px;
}